body{
    background-color: cadetblue;
}

header{
    background-color: teal;
}

#titulo{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

legend{
    font-family: Georgia, Times, 'Times New Roman', serif;
}

label{
    font-family: Georgia, 'Times New Roman', Times, serif;
}